{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
{% if messages %}
  {% for mes in messages %}
  <div class="{{ mes.tags }}" role="alert">
      {{ mes }}
  </div>
  {% endfor %}
{% endif %}
<div class="card">
    <div class="card-body p-5 bg-light">
        <h1 class="my-4">
        </h1>
        <h1 class="my-4"></h1>
        <div class="display-4">{% translate "Привет от Хекслета!" %}</div>
        <p class="lead">{% translate "Практические курсы по программированию" %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate "Узнать больше" %}</a>
    </div>
</div>
{% endblock %}
