{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
    {% if context.messages %}
    {% for mes in context.messages %}
    <div class="alert alert-{{ alert_type }}" role="alert">
        {{ mes }}
    </div>
    {% endfor %}
    {% endif %}
    <h1>{% translate "Вход" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% for e in errors %}
            <div class="text-danger">{{ e }}</div>
            {% endfor %}
            <label class="form-label">{% translate "Имя пользователя" %}
                <div></div>
                <input type="text" name="username" placeholder="{% translate 'Имя пользователя' %}"  {% if errors %} class="form-control is-valid" {% else %} class="form-control" {% endif %} required value="{{ name }}">
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">{% translate "Пароль" %}
                <div></div>
                <input type="text" name="password" placeholder="{% translate 'Пароль' %}"  {% if errors %} class="form-control is-valid" {% else %} class="form-control" {% endif %}required">
            </label>
        </div>
        <div class="mb-3">
            <input type="submit" value="{% translate 'Войти' %}" class="btn btn-primary">
        </div>
    </form>
{% endblock %}