{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
<h1>{% translate "Пользователи" %}</h1>
<table class="table">
    <thead>
        <tr>
          <th scope="col">{% translate "ID" %}</th>
          <th scope="col">{% translate "Имя пользователя" %}</th>
          <th scope="col">{% translate "Полное имя" %}</th>
          <th scope="col">{% translate "Дата создания" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for u in users %}
          <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.created_at }}</td>
            <td>
              <a href="{% url 'user_update' pk=u.id %}">{% translate "Изменить" %}</a>
              <br>
              <a href="{% url 'user_delete' pk=u.id %}">{% translate "Удалить" %}</a>
            </td>
          </tr>
          {% endfor %}
</table>
{% endblock %}